# Exclude all compiled python files:
*.pyc

# Exclude all __pycache__ folders
**/__pycache__

# Exclude the settings.json file:
.vscode/settings.json

# Exclude the .coverage file:
docs/coverage/.coverage

# Ignone the make.bat after customization.
docs/sphinx/make.bat

# Exclude the contentes of docs/sphinx/build:
docs/sphinx/build/*

# Ignone the Combinear.qss after customization.
resources/qss/Combinear.qss

# Exclude the db_credentials.py file:
src/activerecord/db_credentials.py

# Exclude the node_modules folder.
node_modules/*

# Exclude all the Maya files:
*.ma
*.mb
